.about {
  height: 540px;
  @include grid(none, max-content 1fr, 100px 0);
  @include media('>=phone', '<tablet') {
    padding-top: 30px;
    gap: 15px;
    background-color: $aboutBackground;
  }
  &__headline {
    text-align: center;
    @include font-style(42px, 700);
    @include media('<=tablet') {
      @include font-style(23px, 700);
    }
  }
  &__container {
    @include grid(max-content 1fr, none, 0 120px);
    &-age {
      .top-text {
        @include font-style(36px, 600);
      }
      .age-value {
        @include font-style(36px, 600);
        number {
          margin-right: 10px;
          @include font-style(130px, 900, $primary);
        }
      }
      .desc {
        width: 250px;
        @include font-style(28px, 500);
      }
    }
    &-cards {
      @include grid(none, max-content 1fr, 70px);
      .cards__container-headline {
        display: flex;
        @include font-style(34px);
        .headline {
          margin-right: 30px;
          @include font-style(34px, 600);
        }
      }
      .cards__container {
        @include grid(1fr 1fr 1fr, none, 0 50px);
        &-item {
          flex-direction: column;
          padding: 35px 30px;
          background-color: $primary-unfocus;
          box-shadow: 4px 4px 20px rgba(11, 13, 18, 0.3);
          line-height: 29px;
          cursor: pointer;
          @include flex(space-between, center);
          @include font-style(22px, 600, $white);
          @include wh(338px, 300px);
          &:hover {
            background-color: $primary;
          }
          .top-text {
            @include font-style(25px, 700, $white);
          }
        }
      }
    }
  }

  .desktop {
    @include media('<=tablet') {
      display: none;
    }
  }

  .mobile {
    display: block;
    gap: 15px;
    @include media('>=tablet') {
      display: none;
    }
    .accordion {
      cursor: pointer;
      padding: 15px;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid rgba(11, 13, 18, 0.09);
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      background: #fff;
      transition: 0.4s;
      @include flex(space-between, center);
      @include font-style(18px, 400);
      &__arrow {
        transition: all 0.2s cubic-bezier(0, 0.69, 0, 1);
      }
      .active {
        transform: rotate(180deg);
        transition: transform 0.2s cubic-bezier(0, 0.69, 0, 1);
      }
    }

    .panel {
      padding: 0 15px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s cubic-bezier(0, 0.69, 0, 1);
      line-height: 18px;
      @include font-style(15px, 400, $text-black);
    }

    &__experience {
      margin-bottom: 30px;
      border: 1px solid $primary;
      padding: 25px;
      @include wh(100%, max-content);
      @include font-style(18px, 500);
      number {
        @include font-style(22px, 900, $primary);
      }
    }
  }
}
