.about {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 100px 0;
  height: 540px;
  @include media('>=phone', '<tablet') {
    padding-top: 30px;
    gap: 15px;
    background-color: $aboutBackground;
  }
  &__headline {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    @include media('<1800px') {
      font-size: 23px;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0 120px;
    &-age {
      .top-text {
        font-size: 36px;
        font-weight: 600;
      }
      .age-value {
        font-size: 36px;
        font-weight: 600;
        number {
          margin-right: 10px;
          font-size: 130px;
          font-weight: 900;
          color: $primary;
        }
      }
      .desc {
        width: 250px;
        font-size: 28px;
        font-weight: 500;
      }
    }
    &-cards {
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 70px;
      .cards__container-headline {
        display: flex;
        font-size: 34px;
        .headline {
          margin-right: 30px;
          font-weight: 600;
        }
      }
      .cards__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 50px;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 35px 30px;
          width: 338px;
          height: 300px;
          background-color: $primary-unfocus;
          box-shadow: 4px 4px 20px rgba(11, 13, 18, 0.3);
          font-size: 22px;
          font-weight: 600;
          line-height: 29px;
          color: $white;
          cursor: pointer;
          &:hover {
            background-color: $primary;
          }
          .top-text {
            font-size: 25px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .desktop {
    @include media('<1800px') {
      display: none;
    }
  }

  .mobile {
    display: block;
    gap: 15px;
    @include media('>=tablet') {
      display: none;
    }
    .accordion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 15px;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid rgba(11, 13, 18, 0.09);
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      background: #fff;
      font-size: 18px;
      font-weight: 400;
      transition: 0.4s;

      &__arrow {
        transition: all 0.2s cubic-bezier(0, 0.69, 0, 1);
      }

      .active {
        transform: rotate(180deg);
        transition: transform 0.2s cubic-bezier(0, 0.69, 0, 1);
      }
    }

    .panel {
      padding: 0 15px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s cubic-bezier(0, 0.69, 0, 1);
    }

    &__experience {
      margin-bottom: 30px;
      width: 100%;
      height: max-content;
      border: 1px solid $primary;
      padding: 25px;
      font-size: 18px;
      font-weight: 500;
      number {
        font-size: 22px;
        font-weight: 900;
        color: $primary;
      }
    }
  }
}
