.main {
  position: relative;
  display: grid;
  height: calc(100vh - 70px);
  padding-top: 90px;
  @include media('>=tablet', '<desktop') {
    height: 570px;
    padding: 50px 10px;
  }
  @include media('<=500px') {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
  }
  &__container {
    z-index: 1;

    @include media('>phone', '<desktop') {
      margin-left: 40px;
    }
    @include media('<=500px') {
      margin: 0;
      text-align: center;
    }

    &-paragraph {
      margin-bottom: 25px;
      font-size: 36px;
      font-weight: 600;
      @include media('>phone', '<desktop') {
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 500;
      }
      @include media('<=500px') {
        font-size: 16px;
      }
    }
    &-headline {
      margin-bottom: 60px;
      padding-bottom: 35px;
      width: max-content;
      border-bottom: 1px solid $black;
      font-size: 52px;
      font-weight: 700;
      @include media('>phone', '<desktop') {
        width: 50%;
        margin-bottom: 25px;
        padding-bottom: 30px;
        font-weight: 500;
        font-size: 35px;
        line-height: 41px;
      }
      @include media('<=500px') {
        margin-bottom: 0;
        width: 100%;
        border-bottom: none;
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
      }
    }
    &-image {
      display: none;
      @include media('<=500px') {
        display: block;
        margin: 0 auto 35px;
        text-align: center;
      }
    }
    &-desc {
      margin-bottom: 70px;
      max-width: 800px;
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      @include media('>=tablet', '<desktop') {
        margin-bottom: 35px;
        max-width: 400px;
        font-size: 18px;
      }
      @include media('<=500px') {
        margin-bottom: 35px;
        font-size: 15px;
        line-height: 18px;
      }
    }

    &-button {
      padding: 25px 45px;
      outline: none;
      border: none;
      background-color: $primary;
      cursor: pointer;
      color: $white;
      font-size: 24px;
      font-weight: 600;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      &:active {
        transition: 0.2s all;
        transform: scale(0.98);
      }
      @include media('>=tablet', '<desktop') {
        padding: 12px 26px;
        max-width: 500px;
        font-size: 16px;
      }
      @include media('<=500px') {
        padding: 12px 26px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .background__image {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    @include media('>=tablet', '<desktop') {
      width: 400px;
      height: 500px;
    }
  }
}
