.main {
  position: relative;
  display: grid;
  height: calc(100vh - 70px);
  padding-top: 90px;
  // background-image: url('../../assets/images/doctor.svg');
  @include media('>=phone', '<1600px') {
    height: 100%;
    padding: 50px 10px;
  }
  @include media('<=500px') {
    margin: 0 auto;
    padding-top: 30px;
    @include wh(90%, auto);
  }
  &__container {
    z-index: 1;
    @include media('>phone', '<desktop') {
      margin-left: 40px;
    }
    @include media('<=500px') {
      margin: 0;
      text-align: center;
    }
    &-paragraph {
      margin-bottom: 25px;
      @include font-style(36px, 600);
      @include media('>phone', '<desktop') {
        margin-bottom: 15px;
        @include font-style(22px, 500);
      }
      @include media('<=500px') {
        @include font-style(16px);
      }
    }
    &-headline {
      margin-bottom: 60px;
      padding-bottom: 35px;
      width: max-content;
      border-bottom: 1px solid $black;
      @include font-style(52px, 700, $black);
      @include media('>phone', '<desktop') {
        width: 50%;
        margin-bottom: 25px;
        padding-bottom: 30px;
        line-height: 41px;
        @include font-style(35px, 500, $black);
      }
      @include media('<=500px') {
        margin-bottom: 0;
        width: 100%;
        border-bottom: none;
        line-height: 29px;
        @include font-style(25px, 700, $black);
      }
    }
    &-image {
      display: none;
      @include media('<=500px') {
        display: block;
        margin: 0 auto 35px;
        text-align: center;
      }
    }
    &-desc {
      margin-bottom: 70px;
      max-width: 800px;
      line-height: 27px;
      @include font-style(20px, 400, $black);
      @include media('>=tablet', '<desktop') {
        margin-bottom: 35px;
        max-width: 400px;
        @include font-style(18px);
      }
      @include media('<=500px') {
        margin-bottom: 35px;
        line-height: 18px;
        @include font-style(15px);
      }
    }

    &-button {
      padding: 25px 45px;
      background-color: $primary !important;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      @include button-setup;
      @include font-style(24px, 600, $white);
      &:active {
        transition: 0.2s all;
        transform: scale(0.98);
      }
      @include media('>=phone', '<desktop') {
        padding: 12px 26px;
        @include font-style(16px, 500, $white);
      }
    }
  }
  .background__image {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    @include media('>=tablet', '<desktop') {
      width: 400px;
      height: 500px;
    }
  }
}
