// burger transition style
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

// header transition
@keyframes list-in {
  from {
    -webkit-transition: max-height 0.5s, padding 0.5s;
    transition: max-height 0.5s, padding 0.5s;
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
  to {
    -webkit-transition: max-height 0.5s, padding 0.5s;
    transition: max-height 0.5s, padding 0.5s;
    max-height: 700px;
    padding: 20px 0;
    opacity: 1;
  }
}

@keyframes dialog-show {
  from {
    -webkit-transition: max-height 0.5s, padding 0.5s;
    transition: max-height 0.5s, padding 0.5s;
    opacity: 0;
    transform: scale(0);
  }
  to {
    -webkit-transition: max-height 0.5s, padding 0.5s;
    transition: max-height 0.5s, padding 0.5s;
    transform: scale(1);
  }
}
