@import './_fonts.scss';
@import './colors.scss';
@import './mixins.scss';
@import './transitions';
//components
@import './components/header.scss';
@import './components/main.scss';
@import './components/about.scss';
@import './components/occasion.scss';
@import './components/services.scss';
@import './components/dialog.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto;
}

body {
  width: 77%;
  margin: 0 auto;

  @include media('>1300px', '<desktop') {
    width: 83%;
  }

  @include media('>=phone', '<1300px') {
    width: 94%;
  }
}
