@import './colors.scss';
@import './mixins.scss';
@import './transitions';
//components
@import './components/header.scss';
@import './components/main.scss';
@import './components/about.scss';
@import './components/occasion.scss';
@import './components/services.scss';
@import './components/review.scss';
@import './components/footer.scss';
// dialogs
@import './components/dialog.scss';
@import './components/price-dialog.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto;
}
