section#about.about
  h2.about__headline Обо мне
  .about__container.desktop
    .about__container-age
      p.top-text Более
      p.age-value
        number 30
        | лет
      p.desc стажа работы по специальности
    .about__container-cards
      .cards__container-headline
        h3.headline Cпециализация
        span.cards__container-desc Терапевт, гастроэнтеролог
      .cards__container
        .cards__container-item
          .top-text Квалификационная категория
          .top-text Высшая медицинская категория
        .cards__container-item
          .top-text Образование
          .top-text
            | Челябинский Государственный медицинский институт
        .cards__container-item
          .top-text Личные качества
          .top-text
            | Ответственность, сопереживание, азарт и энтузиазм в работе
  .about__container.mobile
    .mobile__experience
      | Более
      number 30
      |  лет стажа работы по специальности терапевт, гастроэнтеролог
    button.accordion
      div Квалификационная категория
      img.accordion__arrow(src='./assets/images/arrow-bottom.svg' alt='Стрелка открывающая список')
    .panel
      p Высшая квалификационная категория
    button.accordion
      div Образование
      img.accordion__arrow(src='./assets/images/arrow-bottom.svg' alt='Стрелка открывающая список')
    .panel
      p
        | Высшее медицинское образование Челябинского Государственного медицинского института.
    button.accordion
      div Личные качества
      img.accordion__arrow(src='./assets/images/arrow-bottom.svg' alt='Стрелка открывающая список')
    .panel
      p Ответственность, сопереживание, азарт и энтузиазм в работе
    button.accordion
      div &Ocy;&pcy;&ycy;&tcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
      img.accordion__arrow(src='./assets/images/arrow-bottom.svg' alt='Стрелка открывающая список')
    .panel
      p
        |  1990 - 1995 гг.
        |  врач-ординатор кардиологического отделения в больнице города Кропоткин
        |  1993 - 1995 гг.
        |  обучение в заочной школе кардиолога
        |  1995 - 2004 гг.
        |  врач-ординатор терапевтического отделения Отделенческой больницы со. Кавказская
        |  2005 - 2008 гг.
        |  заведующая терапевтические отделением 1-ой Городской больницы г. Новороссийск
        |  2008 - 2019 гг.
        |  заведующая терапевтические отделением НУЗ Узловая больница со.Новороссийск, ОАО РЖД
    button.accordion
      div Квалификация и награды
      img.accordion__arrow(src='./assets/images/arrow-bottom.svg' alt='Стрелка открывающая список')
    .panel
      p
        |  2006 г.
        |  профессиональная переподготовка по гастроэнтерологии
        |  2007 г.
        |  профессиональная переподготовка по диетологии
        |  каждые 5 лет
        |  сертификационные курсы по терапии, гастроэнтерологии
        |  2012 г.
        |  благодарность президента ОАО “Российские железные дороги” за оперативные действия по организации и оказанию медицинской помощи пострадавшим в результате стихийного бедствия в Краснодарском крае 6-7 июля 2012 года
        |  и т.д.
