footer.footer#footer
  h3.footer__headline Контакты
  .footer__content
    .footer__content-info
      .info__item
        h4 Телефон
        p +7 (989) 766-33-04
      .info__item
        h4 Адрес
        p г. Кропоткин, ул. Красная 232, вход со стороны ул. Красная
      .info__item
        h4 График работы
        p Пн-Пт 8:00-18:00
        p Обед 12:30-13:30
        p Сб-Вс - выходной
    .footer__content-map
      iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5599.722427092094!2d40.542218527338996!3d45.432298966401966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LMuINCa0YDQvtC_0L7RgtC60LjQvSwg0YPQuy4g0JrRgNCw0YHQvdCw0Y8gMjMyLCDQstGF0L7QtCDRgdC-INGB0YLQvtGA0L7QvdGLINGD0LsuINCa0YDQsNGB0L3QsNGP!5e0!3m2!1sru!2sru!4v1640626439430!5m2!1sru!2sru' width='100%' height='100%' style='border:0;' allowfullscreen='' loading='lazy')

  .footer-info
    .info__left
      h4 ИП Хамидуллина Е.Г.
      p Адрес:  г. Кропоткин, ул. Красная 232
      p ИНН:  25252525252
    .info__right
      .info__right-links
        a.footer__link
          +img('footer__link-image prodoc', 'prodoc-footer.svg', 'Логотип про докторов')
        a.footer__link
          +img('footer__link-image', 'insta.svg', 'написать в инстраграмм')
        a.footer__link
          +img('footer__link-image', 'whatsapp.svg', 'написать в вотс апп')
      p dr.hamidullina@example.com
      p +7 (989) 766-33-04
