section.main
  .main__container
    p.main__container-paragraph Врач терапевт-гастроэнтеролог
    h1.main__container-headline Хамидуллина Елена Геннадьевна
    img.main__container-image(src='./assets/images/doctor-mobile.svg' alt='Доктор')
    p.main__container-desc
      |  Хамидуллина Е.Г. — ваш высококвалифицированный врач терапевт-
      |  гастроэнтеролог, обладающий многолетним опытом работы в области
      |  гастроэнтерологии и готовый прийти на помощь вам и вашей семье в самых
      |  сложных ситуациях.
    button#appointment.main__container-button.appointment Записаться на прием
  .background__image
    +img('background__image-item', 'doctor.svg', 'Фото доктора')
