section#review.review
  .review__headline
    h3 Отзывы пациентов с сервиса
    +img('review__headline-image', 'prodoc-logo.svg', 'Логотип Продокторов')
  .review__content
    .review__content-card
      +img('card__image', 'review-avatar.svg', 'Аватара человека, оставившего отзыв')
      .card__data 17.01.2018
      +img('card__image-star', 'review-stars.svg', 'Оценка работы доктора')
      h4.card__headline Вероника К.
      .card__desc
        | Очень приятный в общении доктор, доходчиво объясняет,
        | чувствуется большой опыт работы. Назначает адекватное лечение.
    .review__content-card
      +img('card__image', 'review-avatar.svg', 'Аватара человека, оставившего отзыв')
      .card__data 17.01.2018
      +img('card__image-star', 'review-stars.svg', 'Оценка работы доктора')
      h4.card__headline Вероника К.
      .card__desc
        | Очень приятный в общении доктор, доходчиво объясняет,
        | чувствуется большой опыт работы. Назначает адекватное лечение.

    .review__content-card
      +img('card__image', 'review-avatar.svg', 'Аватара человека, оставившего отзыв')
      .card__data 17.01.2018
      +img('card__image-star', 'review-stars.svg', 'Оценка работы доктора')
      h4.card__headline Вероника К.
      .card__desc
        | Очень приятный в общении доктор, доходчиво объясняет,
        | чувствуется большой опыт работы. Назначает адекватное лечение.
.review__link
  span.review__link-item Перейти к источнику
  +img('review__link-image', 'review-arrow.svg', 'Перейти к источнику')
