include libs/lib.pug

doctype html
html(lang="en")
    include components/_head.pug
    body 
    include components/_header.pug
    include components/_main.pug
    include components/_about.pug
    include components/_occasion.pug

    include components/_dialog.pug