include libs/lib

doctype html
html(lang="en")
    include components/_head
    body
    include components/_header
    include components/_main
    include components/_about
    include components/_occasion
    include components/_services
    include components/_review
    include components/_footer

    //  dialogs
    include components/_dialog
    include components/_price-dialog
